
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APPsetRead</title>
</head>
<body>

    @Model UserViewModel

    @{
        ViewData["Title"] = "Index";
    }

    <h1>APPsetRead</h1>
    <p>
        <h3>这里显示信息</h3>
        <div> <span>appValue字符串值:</span>@ViewBag.appValue </div>
        <div> <span> peserModel类:</span> <span>@ViewBag.peserModel.age</span> </div>
        <div>
            <span> AppSetModel类:</span>
            <span>name</span>
            <span>@ViewBag.appSetModel.name</span>
            <span>PeserModel</span>
            <span>@ViewBag.appSetModel.peserModel.age</span>

            <span>arrayVlue</span>

        </div>
        <div>
            <span> s数组:</span>
            <span> key:</span>
            <span> @ViewBag.setArrayModel.key</span>
            @{
                foreach (var str in ViewBag.setArrayModel.arrayVlue)
                {
                    <div>@str</div>
                }
            }
        </div>
    </p>
</body>
</html>
